name: Dependabot

on:
  push:
    branches:
      - "dependabot/**"

env:
  DOCKER_REPOSITORY: arlol/corporate-python

jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
    - name: Dump GitHub context
      env:
        GITHUB_CONTEXT: ${{ toJSON(github) }}
      run: echo "$GITHUB_CONTEXT"
    - name: Dump job context
      env:
        JOB_CONTEXT: ${{ toJSON(job) }}
      run: echo "$JOB_CONTEXT"
    - name: Dump steps context
      env:
        STEPS_CONTEXT: ${{ toJSON(steps) }}
      run: echo "$STEPS_CONTEXT"
    - name: Dump runner context
      env:
        RUNNER_CONTEXT: ${{ toJSON(runner) }}
      run: echo "$RUNNER_CONTEXT"
    - name: Dump strategy context
      env:
        STRATEGY_CONTEXT: ${{ toJSON(strategy) }}
      run: echo "$STRATEGY_CONTEXT"
    - name: Dump matrix context
      env:
        MATRIX_CONTEXT: ${{ toJSON(matrix) }}
      run: echo "$MATRIX_CONTEXT"
  main:
    name: Main
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3.5.3
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v2.9.1
    - name: Load .env file
      uses: xom9ikk/dotenv@v2
    - name: Build container
      uses: docker/build-push-action@v4.1.1
      with:
        context: .
        load: true
        build-args: |
          PYTHON_BASE_VERSION=${{ env.PYTHON_BASE_VERSION }}
        tags: ${{ env.DOCKER_REPOSITORY }}:${{ env.PYTHON_BASE_VERSION }}
        builder: ${{ steps.buildx.outputs.name }}
        cache-from: type=registry,ref=${{ env.DOCKER_REPOSITORY }}:buildcache
    - name: Test container
      run: |
        docker run \
          --rm \
          --env HOME="/home/default" \
          --user 1001240000:1001240000 \
          --entrypoint "${PWD}/nss-entrypoint.sh" \
          --volume "${PWD}:${PWD}" \
          --workdir "${PWD}" \
          ${{ env.DOCKER_REPOSITORY }}:${{ env.PYTHON_BASE_VERSION }}
    - name: Ensure clean build
      run: |
        git diff --exit-code
